.popover {
    position: relative;
    width: 0;
    height: 0;
}

.body {
    display: none;
}

.opened {
    .body {
        position: absolute;
        top: 5px;
        background: var(--second-color);
        border-radius: 5px;
        display: flex;
        padding: 5px;
    }
}
