.select {
    border: solid 1px;
    border-color: var(--main-color);
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 3px;
    max-width: 150px;
    overflow: auto;
}
