.btn {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.fullwidth {
    width: 100%;
}

.day {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.active {
    background: var(--main-color);
    color: var(--invertial-color);
}

.today {
    background-color: var(--today-color);
    color: var(--invertial-color);
}

.inactive {
    color: var(--inactive-color);
}

.calendarPicker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 220px;
}

.yearPicker,
.monthPicker {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.selectDate {
    width: 70%;
}

.selectTime {
    width: 30%;
    padding-left: 5px;
}

.time {
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    color: green;
}

.monthAndDate {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.dateContainer {
    width: 100%;
}

.dateTable {
    width: 100%;
}

.date {
    width: calc(100% / 7);
    text-align: center;
    vertical-align: middle;
}

.styledScrollbars {
    scrollbar-color: #999 #ffffff00;
}
.styledScrollbars::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
.styledScrollbars::-webkit-scrollbar-thumb {
    background: #999;
}
.styledScrollbars::-webkit-scrollbar-track {
    background: #ffffff00;
}
