.timeFormatController {
    max-width: 350px;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menuBtn {
    width: calc(100% / 3);
    border-bottom: solid 1px;
    border-radius: 0%;
    border-color: var(--main-color);
}

.btn {
    width: 100%;
    margin-top: 5px;
}

.description {
    text-align: center;
}

.relativeMenu {
    display: flex;
    max-width: 350px;
    justify-content: space-between;
    padding-top: 10px;
}
.input {
    width: 50%;
}

.active {
    font-weight: bold;
    border-bottom: solid 2px;
    border-color: var(--main-color);
}

.calendar {
    padding: 5px;
}
